<h1>Editing Friend</h1>

<%= render 'form', friend: @friend %>
<hr><br>
<%= link_to 'Show', @friend, class: "btn btn-outline-dark" %> -
<%= link_to 'Back', friends_path, class: "btn btn-outline-dark" %>
